*{
	margin: 0;
	padding: 0;
	border: 0;
	}
.body{
	width: 100%;
	height: 1095px;
	margin: 0 auto;
}
/*头部css样式*/
.header{
	width: 100%;
	height: 140px;
	background-color: #f1f5f5;
}
/*第一个框样式*/
.The_header1{
	width: 100%;
	height: 31px;
	background-color:#f0f4f5;
	margin: 0 auto;
}
.The_header_one{
	width: 1000px;
	height: 31px;
	margin: 0 auto;
	line-height: 31px;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #9b9b9b;
}
.The_header_one>span{
	margin-left: 877px;
}
.The_header_one>a{
	cursor:pointer;
}
/*第二个框样式*/
.The_header2{
	width: 100%;
	height: 90px;
	background-color: white;
	margin: 0 auto;
}
.The_header_two{
	width: 1000px;
	height: 90px;
	margin: 0 auto;
	display: flex;
}
.The{
	width: 110px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 16px;
	color: #555555;
}
.o1{
	width: 184px;
	height: 90px;
	background-color: white;
}
.The>a:hover{
	cursor:pointer;
}
/*主体样式*/
.The_main_body{
	width: 100%;
	height: 800px;
	background-color: #f1f5f5;
}
.main_body1{
	width: 1000px;
	height: 770px;
	background-color: white;
	margin: 0 auto;
}
.body1{
	width: 1000px;
	border: 1px solid #ededed;
	height: 48px;
	background-color: #f5f5f5;
	margin: 0 auto;
}
.body1>div{
	width: 96%;
	margin: 0 auto;
	font-size: 14px;
	color: #555;
	text-align: left;
	line-height: 48px;
}
.body2{
	width: 1000px;
	height: 69px;
	margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #555;

}
.plan {
    width: 148px;
    height: 2px;
    background: #e6e6e6;
    display: inline-block;
    vertical-align: 44px;
}
.planTxt .on {
    background: #ee6a00;
}
.planTxt .num {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e5e5e5;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin-bottom: 18px;
}
.planTxt {
    display: inline-block;
}
.planTxt .on {
    background: #ee6a00;
}
.plan .one{
    width: 100%;
    background: #ee6900;
    height: 100%;
}
#two{
	 background: #ee6a00;
}
.plan .two{
    width: 50%;
    background: #ee6900;
    height: 100%;
}
.body3{
	width: 1000px;
	height: 422px;
	margin-top: 70px;
}
.bo1{
	width: 700px;
	height: 45px;
	margin: 0 auto;
	display: flex;
}
.bb1{
	width: 40px;
	height: 45px;
	line-height: 50px;
}
.bb2{
	width: 321px;
	height: 45px;
}
.ii{
	font-size: 14px;
	color: #555;
	margin-bottom: 10px;
}
.io{
	font-size: 12px;
	color: #757575;
}
.bo2{
	width: 700px;
	height: 45px;
	margin: 0 auto;
	margin-top: 36px;
	display: flex;
}
.bb01{
	width: 40px;
	height: 45px;
	line-height: 50px;
}
.bb02{
	width: 321px;
	height: 45px;
}
.bo3{
	margin-top: 108px;
	width: 1000px;
	height: 188px;
}
.bo3-one{
	width: 874px;
	height: 42px;
	margin-bottom: 20px;
	margin-left: 126px;
	font-size: 14px;
	color: #555;
	line-height: 42px;
}
.bo3-one>label{
	width: 100px;
	text-align: right;
	display: inline-block;
}
.bo3-two{
	width: 874px;
	height: 126px;
	margin-bottom: 20px;
	margin-left: 126px;
}
.bo3-two>a:hover{
	cursor:pointer;
}
.uu{
	width: 232px;
	height: 40px;
	border: 1px solid #ededed;
	border-radius: 6px;
	display: inline-block;
	text-indent: 0.5em;
	color: #555;
}

.a1{
	width: 188px;
	height: 50px;
	border-radius: 6px;
	background: #ee6900;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	display: inline-block;
	margin: 0 30px;
    margin-top: 0px;
	margin-top: 76px;
}
.a2{
	width: 188px;
	height: 50px;
	border-radius: 6px;
	background: #ee6900;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	display: inline-block;
	margin: 0 30px;
    margin-top: 0px;
	margin-top: 76px;
}
/*尾部样式*/
.footer {
    height: 150px;
    border-top: 1px solid #ededed;
    width: 100%;
    background: #fff;
    position: relative;
    clear: both;
    text-align: center;
    z-index: 0;
    margin-bottom: 0px;
}
.footer-one{
	width: 1280px;
	height: 120px;
	background-color: white;
	margin: 0 auto;
	display: flex;
}
.footer-two{
	width: 1280px;
	height: 31px;
	background-color: #f0f4f5;	
	margin: 0 auto;
	display: flex;
}
.foo{
	width: 250px;
	height: 120px;
	font-size: 11px;
}
.f1{
	font-size: 20px;
	font-weight: 800;
	margin-left: 120px;
	line-height: 60px;
}
.pp{
	width: 50%;
	height: 31px;
	margin: 0 auto;
	font-size: 10px;
	line-height: 31px;
}
#ppp{
	cursor:pointer;
}
#iii{
	cursor:pointer;
}
