<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- 将控制器所在包加入IOC容器 -->
	<context:component-scan base-package="com.yidu"/>

	<!-- 配置数据库信息 -->
	<!-- 加载db文件 -->
	<bean id="config"
		class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>classpath:mysql.properties</value>
			</array>
		</property>
	</bean>
	<!-- 加载数据库的连接步骤 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"><!-- oracle数据库：org.apache.commons.dbcp.BasicDataSource -->
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}" />
		<property name="username" value="${name}" />
		<property name="password" value="${password}" />
	</bean>
	<!-- 加载mapper文件 -->
	<bean id="sqlSessionFacotry"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 加载mapper.xml路径 -->
		<property name="mapperLocations"
			value="classpath:com/yidu/dao/*.xml"></property>
			
		<property name="typeAliasesPackage" value="com.yidu.bean"></property>
	</bean>
	<!-- 将mybatis的sqlSessionFacotry交给spring,作用：产生代理对象-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName"
			value="sqlSessionFacotry"></property>
		<property name="basePackage"
			value="com.yidu.dao"></property>
	</bean>
</beans>
