* {
	margin: auto;
	padding: 0px;
	font-family: Î¢ÈíÑÅºÚ;
	color: #555;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.header {
	background-color: #f0f4f5;
	;
}

.header_logstate {
	height: 30px;
	width: 1000px;
	margin: 0 auto;
	text-align: right;
	line-height: 30px;
	color: #9b9b9b;
	background-color: #f0f4f5;
	;
}

.user_out {
	cursor: pointer;
	background-color: #f0f4f5;
	vertical-align: middle;
	line-height: 30px;
}

.Nav_Inside {
	background-color: white;
}

.NavBox {
	height: 90px;
	width: 1000px;
	background-color: white;
}

.Nav_logo {
	width: 184px;
	height: 70px;
	display: inline-block;
	margin-top: 15px;
	background-color: white;
}

.Nav_li {
	width: 518px;
	height: 70px;
	display: inline-block;
	margin-left: 20px;
	background-color: white;
}

.Nav_li li,
.Nav_li li a {
	float: left;
	list-style: none;
	line-height: 55px;
	font-size: 16px;
	color: #555555;
}

.Nav_li li a {
	margin: 0 23px;
}

#body {
	height: 1068px;
	width: 1000px;
	background-color: #f0f4f5;
	display: flex;
	margin-top: 20px;
}

#w1 {
	height: 1068px;
	width: 240px;
	flex-direction: column;
	margin: 0px;
	background-color: white;
}

#w2 {
	height: 1068px;
	width: 745px;
	flex-direction: column;
	margin-left: 15px;
}

#title {
	width: 240px;
	height: 68px;
	background-color: white;
}

#titleImg {
	margin-left: 15px;
}

#titleText {
	background-color: white;
	color: #555;
	font-size: 18px;
	line-height: 68px;
}

#ul {
	list-style: none;
	margin-top: 20px;
}

#ul>li {
	width: 240px;
	height: 55.8px;
	background-color: white;
	font-size: 14px;
}

#ul>li>a {
	background-color: white;
	margin: 50px;
	text-decoration: none;
	color: #555;
}

#titleBox {
	width: 742px;
	height: 50px;
	border: 1px solid #ededed;
	background-color: #f5f5f5;
}

#editImg {
	margin-left: 640px;
	line-height: 50px;
}

#header {
	width: 742px;
	height: 28px;
	background-color: white;
}

#userInfoBox {
	width: 742px;
	height: 234px;
	background-color: white;
}

#space {
	width: 742px;
	height: 50px;
	background: #f5f5f5;
}

#spaceText {
	line-height: 50px;
	color: #555;
	font-size: 12px;
	margin-left: 10px;
}

#vContent {
	width: 742px;
	height: 190px;
	border: 1px solid white;
	background: white;
}

#footer {
	width: 742px;
	height: 250px;
	background: white;
}

#line {
	width: 96%;
}

#l_left {
	background-color: white;
	float: left;
	position: relative;
	left: 20px;
}

#l_left>label {
	background-color: white;
	color: #555;
	font-size: 14px;
}

#userText {
	width: 258px;
	height: 38px;
	border: 1px solid #ededed;
	background-color: white;
	border-radius: 4px;
}

#l_right {
	background-color: white;
	float: right;
}

#l_right>label {
	background-color: white;
	color: #555;
	font-size: 14px;
}

#d11 {
	width: 258px;
	height: 38px;
	border: 1px solid #ededed;
	background-color: white;
	border-radius: 4px;
}

#line_2 {
	width: 96%;
}

#l2_left {
	background-color: white;
	float: left;
	position: relative;
	left: 20px;
	margin-top: 20px;
}

#l2_left>label {
	background-color: white;
	color: #555;
	font-size: 14px;
}

#l2_right {
	background-color: white;
	float: right;
	margin-top: 20px;
}

#l2_right>label {
	background-color: white;
	color: #555;
	font-size: 14px;
}

#line_3 {
	width: 96%;
}

#l3_left {
	background-color: white;
	float: left;
	position: relative;
	left: 5px;
	margin-top: 40px;
}

#l3_left>label {
	background-color: white;
	color: #555;
	font-size: 14px;
}

#l3_right {
	background-color: white;
	float: right;
	margin-top: 40px;
}

#l3_right>label {
	background-color: white;
	color: #555;
	position: relative;
	top: -45px;
	font-size: 14px;
}

#d12 {
	width: 258px;
	height: 58px;
	resize: none;
	border: 1px solid #ededed;
	border-radius: 4px;
	outline: none;
	text-indent: 0.5em;
	padding-top: 10px;
	border-radius: 4px;
	background-color: white;
	font-size: 14px;
	color: #555;
}

#footer>p {
	background-color: white;
	color: #555;
	line-height: 80px;
	font-size: 14px;
	margin-left: 10px;
}

#footer>p>span {
	background-color: white;
}

#footer>p>a {
	background-color: white;
	text-decoration: none;
	margin-left: 8px;
	color: #ee6900;
}

#cityfont {
	color: #555;
	text-decoration: none;
}


<!--åº•éƒ¨css-->
.foot_slide {
	height: 150px;
	background: #fff;
}

.foot_chi {
	width: 1000px;
	font-size: 20px;
	font-weight: 800;
	margin: 0 auto;
	text-align: center;
}

.kefu,
.code {
	display: inline-block;
	width: 100px;
	height: 150px;
	vertical-align: top;
}

.code {
	width: 330px;
}

.code img {
	margin-top: 20px;
}

.code span {
	font-size: 16px;
	margin: 10px;
}

.kefu a {
	-webkit-text-size-adjust: none;
	font-size: 20px;
	font-weight: 800;
}

.copyright {
	background-color: #f0f4f5;
	height: 35px;
}

.copy {
	width: 1000px;
	margin: 0 auto;
	background-color: #f0f4f5;
	text-align: center;
	line-height: 30px;
}
