		*{
			margin: 0;
			margin: auto;
			padding: 0 ;
			background-color: whitesmoke;
		}
		#header{
			height: 1188px;
			width: 1000px;
			border: 1px solid whitesmoke;
			background-color: whitesmoke;
			margin-top: 15px;
		}
		#header1{
			height: 1150px;
			width: 201px;
			border: 1px solid white;
			background-color: white;
			float: left;
		}
		#ul{
			list-style: none;
			margin-top: 94px;
		}
		#ul>li{
			width: 203px;
			height: 55.8px;
			background-color: white;
			font-size: 13px;
		}
		#ul>li>a{
			background-color: white;
			margin: 50px;
			text-decoration: none;
			color: #555;
		}
		#header5{
			height: 68px;
			width: 200px;
			border: 1px solid white;
			background-color: white;
			float: left;
			line-height: 68px;
		}
		#header2{
			height: 500px;
			width: 750px;
			border: 1px solid white;
			background-color: white;
			margin-left: 213px;
		}
		#header3{
			height: 94px;
			width: 749px;
			border: 1px solid white;
			background-color: white;
			float: left;
		}
		.orderSearchBox{
			width: 327px;
			height: 40px;
			border: 1px solid #ededed;
			background-color:white;
			text-indent: 0.5em;
			vertical-align: middle;
			margin-left: 290px;
			margin-top: 25px;
		}
		.orderSearchBtn{
			width: 100px;
			height: 44px;
			border-radius: 0 6px 6px 0;
			background: #ed6800;
			font-size: 18px;
			color: #fff;
			border: none;
			outline: none;
			vertical-align: middle;	
			margin-top: 25px;
			margin-left: -4px;
		}
		#header4{
			height: 50px;
			width: 750px;
			border: 1px solid white;
			background-color: white;
			float: left;
			margin-top: 0px;
			margin-left: -1px;
		}
		.aa{
			width: 177.1px;
			height: 50px;
			font-size: 13px;
		}
		.cc{
			width: 57.7833px;
			height: 50px;
		}
		.dd{
			width: 262.2px;
			height: 50px;
			font-size: 13px;
		}
		.ee{
			width: 140.667px;
			height: 50px;
			font-size: 13px;
		}
		.ff{
			width: 112.25px;
			height: 50px;
			font-size: 13px;
		}
		.form_one{
			width: 59.5px;
			height: 100px;
			background-color: white;
		}
		.form_two{
			width: 173px;
			height: 50px;
			font-size: 12px;
			background-color: white;
		}
		.form_three{
			width: 267.2px;
			height: 50px;
			font-size: 12px;
			background-color: white;
		}
		.form_four{
			width: 138.667px;
			height: 50px;
			font-size: 12px;
			background-color: white;
		}
		.form_five{
			width: 115.25px;
			height: 50px;
			font-size: 12px;
			background-color: white;
		}
		.titleCheckbox {
  	    	width: 70px;
    		height: 50px;
   		    border-right: 1px solid #e5e5e5;
		
		}
		.b {
    		width: 228px;
    		height: 50px;
  		    border-right: 1px solid #e5e5e5;
		}
		.order{
			margin-left: 10px;
			margin-top: 18px;
			background-color: white;
		}
		.titleText{
			margin-left: 54px;
			margin-top: -78px;
			display: block;
			font-size: 20px;
			color: #555555;
			background-color: white;
		}
		.quxiao_img_logo{
			margin-top: -20px;
			margin-left: 0px;
			display: none;
		}
		
		a {
			text-decoration: none;
			cursor: pointer;
		}

		.header {
			background-color: #f0f4f5;
		;
		}

		.header_logstate {
			height: 30px;
			width: 1000px;
			margin: 0 auto;
			text-align: right;
			line-height: 30px;
			color: #9b9b9b;
			background-color: #f0f4f5;
			font-size: 12px;
		;
		}	

		.user_out {
			cursor: pointer;
			background-color: #f0f4f5;
			/*vertical-align: middle;*/
			line-height: 30px;
		}

		.Nav_Inside {
			background-color: white;
		}

		.NavBox {
			height: 90px;
			width: 1000px;
			background-color: white;
		}

		.Nav_logo {
			width: 184px;
			height: 70px;
			display: inline-block;
			margin-top: 15px;
			background-color: white;
		}			

		.Nav_li {
			width: 558px;
			height: 70px;
			display: inline-block;
			margin-left: 19px;
			background-color: white;
	}

		.Nav_li li,
		.Nav_li li a {
			float: left;
			list-style: none;
			line-height: 55px;
			font-size: 16px;
			color:#555555;
	}

		.Nav_li li a {
			margin: 0 23px;
	}
		.foot_slide {
			height: 150px;
			background: #fff;
	}

		.foot_chi {
			width: 1000px;
			font-size: 12px;
			font-weight: 800;
			margin: 0 auto;
			text-align: center;
			background-color: white;
	}

		.kefu,
		.code {
			display: inline-block;
			width: 100px;
			height: 150px;
			vertical-align: top;
			background-color: white;
	}

		.code {
			width: 330px;
	}	

		.code img {
			margin-top: 20px;
	}

		.code span {
			margin: 0 20px;
	}		

		.kefu a {
			-webkit-text-size-adjust: none;
			font-size: 20px;
			font-weight: 800;
	}

.copyright {
	background-color: #f0f4f5;
	height: 35px;
	font-size: 10px;
}

.copy {
	width: 1000px;
	margin: 0 auto;
	background-color: #f0f4f5;
	text-align: center;
	line-height: 30px;
}
.orders{
	background-color: white;
}
.code_shou{
	background-color: white;
}
.code_zai{
	background-color: white;
}
.code_yun{
	background-color: white;
}
.code_ding{
	background-color: white;
}
.code_zhang{
	background-color: white;
}
.code_ye{
	background-color: white;
}
.code_xian{
	background-color: white;
}
.code_cha{
	background-color: white;
}
.code_guan{
	background-color: white;
}
.code_hu{
	background-color: white;
}
