* {
	margin: 0 auto;
	vertical-align: middle;
	padding: 0;
	font-family: Î¢ÈíÑÅºÚ;
	font-size: 12px;
	-webkit-text-size-adjust: none;
	border: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.header {
	background-color: #f0f4f5;
	;
}

.header_logstate {
	height: 30px;
	width: 1000px;
	margin: 0 auto;
	text-align: right;
	line-height: 30px;
	color: #9b9b9b;
	background-color: #f0f4f5;
	;
}

.user_out {
	cursor: pointer;
	background-color: #f0f4f5;
	vertical-align: middle;
	line-height: 30px;
}

.Nav_Inside {
	background-color: white;
}

.NavBox {
	height: 90px;
	width: 1000px;
	background-color: white;
	margin: 0 auto;
}

.Nav_logo {
	width: 184px;
	height: 70px;
	display: inline-block;
	margin-top: 15px;
	background-color: white;
}

.Nav_li {
	width: 518px;
	height: 70px;
	display: inline-block;
	margin-left: 20px;
	background-color: white;
}

.Nav_li li,
.Nav_li li a {
	float: left;
	list-style: none;
	line-height: 70px;
	font-size: 16px;
	color: #555555;
}

.Nav_li li a {
	margin: 0 23px;
}

#bodyBack{
	width: 100%;
	height: 1000px;
	background-color: #f0f4f5;
}
#center{
	width: 1006px;
	height: 900px;
	margin-top: 20px;
	margin: auto;
	background-color: #f0f4f5;
}
.center_one{
	width: 240px;
	height: 900px;
	display: inline-block;
	background-color: white;
	
}
.center_two{
	width: 750px;
	height: 250px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
}
.two1{
	width: 750px;
	height: 100px;
	background-color: white;
	line-height: 100px;
}
.two2{
	width: 750px;
	height: 50px;
	line-height: 50px;
	display: flex;
	flex-direction: row;
	background-color: #f0f4f5;
}
.two3{
	margin-top: 30px;	
}
.title{
	margin-left: 13px;
	padding-top: 15px;
}
.textcenter{
	padding-left: 59px;
	margin-top: 35px;
}
.two1_left{
	width: 150px;
	height: 40px;
	margin-left: 20px;
	padding-left: 8px;
	font-color:#f0f4f5;
	border-radius: 4px;
	border: 1px solid #F0F4F5;
}
.two2_center{
	width: 240px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #F0F4F5;
}
.two3_cente{
	width: 90px;
	height: 40px;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	font-size: 15px;
	background: #ed6800;
}
#two4{
	background-color: #000000;
	opacity: 0.3;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 3;
	display: none;
	
	
}
.two4_right{
	display: block;two3
	width: 100px;
	height: 40px;
	color: #fff;
	font-size: 15px;
	border-radius: 4px;
	text-align: center;
	background-color: #f46c00;
}
.two2_left1{
	width: 110px;
	height: 50px;
	margin: 1px;
}
.two2_left2{
	width: 110px;
	height: 50px;
	margin: 1px;
}
.two2_center1{
	width: 110px;
	height: 50px;
	margin: 1px;
}
.two2_center2{
	width: 185px;
	height: 50px;
	margin: 1px;
}
.two2_right1{
	width: 110px;
	height: 50px;
	margin: 1px;
}
.two2_right2{
	width: 110px;
	height: 50px;
	margin: 1px;
}
.two2>div{
	text-align: center;
	border-left: 1px solid #9B9B9B;
}
 .layui-form-item .layui-input-inline {
    float: none;
}
 .layui-form-select dl dd.layui-this {
    background-color: #f46c00;
	}
@charset "utf-8";


body{
     background:#f0f4f5;
}
.clear{
    clear:both;
}
.viewAddress{
    width:1000px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:38px;
    overflow:auto;
}
.viewAddress .left{
    width:240px;
    background:#fff;
    float:left;
    margin-right:10px;
    padding-bottom:660px;
    border-radius:6px;
}
.viewAddress .left .title{
    height:68px;
    width:100%;
    line-height:68px;
    font-size:18px;
    color:#555;
}
.viewAddress .left .title span{
    height:68px;
    display:inline-block;
}
.titleText{
    margin-left:10px;
}
.viewAddress .left .title img{
    vertical-align:middle;
    margin-left:13px;
}
.viewAddress .left ul li{
    
    line-height:55px;
}
.viewAddress .left ul li a{
    color:#555;
    font-size:14px;
    margin-left:54px;
}
.viewAddress .left ul li .on{
    color:#ee6900;
}
.viewAddress .right{
    width:750px;
    background:#fff;
    border-radius:6px;
    float:left;
    padding-bottom:50px;
}
.orderInputBox{
    height:94px;   
}
.combo-select{
    max-width:226px;
    height:40px;
    border:1px solid #ededed;
    border-radius:6px;
    line-height:40px;
    display:inline-block;
    margin:0;
    vertical-align:middle;
    margin-left:20px;
    margin-top:25px;
}
.combo-select .combo-input {
    height:40px;
    line-height:40px;
}
.orderSearchBox{
    width:227px;
    height:40px;
    border:1px solid #ededed;
    border-right:none;
    border-radius:6px 0 0 6px;
    text-indent:0.5em;
    vertical-align:middle;
    margin-left:20px;
    margin-top:25px;
}
.orderSearchBtn{
    width:100px;
    height:42px;
    border-radius:0 6px 6px 0;
    background:#ed6800;
    font-size:18px;
    color:#fff;
    border:none;
    outline:none;
    vertical-align:middle;
    cursor:pointer;
    margin-top:25px;
}
.orderSearchBtn:hover{
    background:#f46c00;
}
table{
    text-align:center
}
.titleName{
    width:110px;
    height:50px;
    border-right:1px solid #e5e5e5;
}
table .titleBox{
    background:#f5f5f5;
}
.titleTel{
    width:140px;
    height:50px;
    border-right:1px solid #e5e5e5;
}
.titleAddress{
    width:310px;
    height:50px;
    border-right:1px solid #e5e5e5;
}
.titleOperate{
    width:156px;
    height:50px;
    border-right: 1px solid #e5e5e5
}
.tableName{
    height:83px;
}
.tableName,.tableTel,.tableAddress,.tablelOperate
{
    border-bottom:1px  dashed #ededed;
    color:#555;
}
.tableAddress{
    line-height:24px;
    text-align:left;
}
.addresColor{
    color:#ed6c00;
}
.addAddressBtn{
    width:112px;
    height:42px;
    color:#fff;
    text-align:center;
    line-height:42px;
    background:#ee6900;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius:6px;   
    margin-top:25px;
    display:inline-block;
    vertical-align:middle;
    margin-left:50px;
}
.addAddressBtn:hover{
    background:#f46c00;
}
input{
    min-width:0;
}
.addPersonInfo{
    padding-top:42px;
}
#addAddress{
	width: 550px;
	height: 600px;
    margin:0 auto;
    background-color: white;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    display:none;
}
#addAddress p label{
    width:17%;
    text-align:right;
    display:inline-block;
}
#editAddress{
    width:98%;
    margin:0 auto;
}
#editAddress p label {
    width: 20%;
    text-align: right;
    display: inline-block;
}
.addP{
    height:40px;
    line-height:40px;
    margin-bottom:20px;
}
.addP input{
    width:321px;
    height:36px;
    border:1px solid #ededed;
    text-indent:0.5em;
}
.addTar{
    margin-bottom:20px;
    height:90px;
    line-height:90px;
}
.addTar textarea{
    width:321px;
    height:79px;
    border:1px solid #ededed;
    padding-top:10px;
    text-indent:0.5em;
    resize:none;
}
.addTar label{
    vertical-align:top;
}
.addressChoose{
    margin-left:0px;
}
.addAddressInfo{
 
    position:relative;
}
.city-picker-span{
    border:1px solid #ededed;
    text-indent:0.5em;
    display:none;
}
/*.addAddress{
    
}*/
.icheckbox_flat-red{
    margin-left:6px;
}
.btnBox{
    text-align:center;
    margin-left: 65px;
}
.btnBox  input{
	margin-left: -150px;
    width:132px;
    height:40px;
    display:inline-block;
    border:none;
    outline:none;
    cursor:pointer;
    font-size:14px;
    border-radius:6px;
    color:#fff;
}
.reser{
    background:#d3d3d3;
    margin-right:232px;
}
.submit{
    background:#ee6900;
}
.delAddress{
    display:none;
}
.delAddress p{
    text-align:center;
}
.delAddress .title{
    margin-top:48px;
}
.delAddress input{
    width:132px;
    height:40px;
    display:inline-block;
    border:none;
    outline:none;
    cursor:pointer;
    font-size:14px;
    border-radius:6px;
    color:#fff;
}
.delBtnBox{
    margin-top:50px;
}
.noData{
    text-align:center;
    color:#757575;
    padding:50px 0;
    font-size:18px;
    display:none;
}
.noData p{
    margin-bottom:10px;
}
#IsDefault{
	width: 15px;
	height: 15px;
}
#radioesd{
	width: 15px;
	height: 15px;
}
#radioesds{
	width: 15px;
	height: 15px;
}

.fastentrydiv{
	width: 100%;
	height: 40px;
	background-color:#f0f4f5;
	line-height: 40px;
}
.fastentry{
	margin-left: 20px;
	
	font-size: 16px;
}

.pick-show{
	margin-left: -25px;
	width: 285.4px;
}


<!--åº•éƒ¨css-->
.foot_slide {
	height: 150px;
	background: #fff;
}

.foot_chi {
	width: 1000px;
	font-size: 20px;
	font-weight: 800;
	margin: 0 auto;
	text-align: center;
}

.kefu,
.code {
	display: inline-block;
	width: 100px;
	height: 150px;
	vertical-align: top;
}

.code {
	width: 330px;
}

.code img {
	margin-top: 20px;
}

.code span {
	font-size: 16px;
	margin: 10px;
}

.kefu a {
	-webkit-text-size-adjust: none;
	font-size: 20px;
	font-weight: 800;
}

.copyright {
	background-color: #f0f4f5;
	height: 35px;
}

.copy {
	width: 1000px;
	margin: 0 auto;
	background-color: #f0f4f5;
	text-align: center;
	line-height: 30px;
}
.textcenter,.textcenter a{
    font-size: 14px;
    color: #555;
}
#ttaa tr{
	height: 80px;
}
#trr{
	background-color: #f0f4f5;
}
.th1{
	width: 112px;
}
.th2{
	border-left: 1px solid black;
	width: 110px;
}
.th3{
	border-left: 1px solid black;
	width: 110px;
}
.th4{
	border-left: 1px solid black;
	width: 194px;
}
.th5{
	border-left: 1px solid black;
	width: 110px;
}
.th6{
	border-left: 1px solid black;
	width: 110px;
}
