* {
	margin: 0 auto;
	vertical-align: middle;
	padding: 0;
	font-family: Î¢ÈíÑÅºÚ;
	font-size: 12px;
	-webkit-text-size-adjust: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.header {
	background-color: #f0f4f5;
	;
}

.header_logstate {
	height: 30px;
	width: 1000px;
	margin: 0 auto;
	text-align: right;
	line-height: 30px;
	color: #9b9b9b;
	background-color: #f0f4f5;
	;
}

.user_out {
	cursor: pointer;
	background-color: #f0f4f5;
	vertical-align: middle;
	line-height: 30px;
}

.Nav_Inside {
	background-color: white;
}

.NavBox {
	height: 90px;
	width: 1000px;
	background-color: white;
}

.Nav_logo {
	width: 184px;
	height: 70px;
	display: inline-block;
	margin-top: 15px;
	background-color: white;
}

.Nav_li {
	width: 518px;
	height: 70px;
	display: inline-block;
	margin-left: 20px;
	background-color: white;
}

.Nav_li li,
.Nav_li li a {
	float: left;
	list-style: none;
	line-height: 70px;
	font-size: 16px;
	color: #555555;
}

.Nav_li li a {
	margin: 0 23px;
}

.Advertisement {
	height: 300px;
	background-color: #D5355F;
}

.Advertisement_img {
	width: 1280px;
	margin: 0 auto;
}

.content {
	background-color: #f0f4f5;
	;
	height: 1120px;
	padding-top: 20px;
}

.ordertype {
	background-color: white;
	width: 1000px;
	height: 50px;
}

.ordertype .title,
.ordertype .title p {
	float: left;
	width: 40px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 25px;
	background-color: #2ea5ab;
}

.ordertype_btn {
	display: inline-block;
	margin-top: 2px;
	text-align: center;
}

.ordertype_btn .signalorder {
	font-size: 28px;
	color: #ee6900;
	width: 175px;
	text-align: center;
	background: #cec9c9;
	padding: 1px;
	margin: 3px;
	display: inline-block;
}

.sendUser {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	height: 285px;
	background: #fff;
}

.sendUser .title {
	width: 40px;
	height: 285px;
	background: #ee6900;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	*line-height: 20px;
	float: left;
}

.sendUser .title p {
	background: #ee6900;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}

.leftSend,
.rightSend {
	width: 410px;
	height: 285px;
	display: inline-block;
	margin-left: 40px;
}

.leftSendtext,
.leftSendinput,
.rightSendtext,
.rightSendinput {
	display: inline-block;
	vertical-align: top;
}

.leftSendtext div,
.leftSendinput input,
.rightSendtext div,
.rightSendinput input {
	font-size: 15px;
}

.leftSendtext,
.rightSendtext {
	width: 70px;
	height: 285px;
	text-align: right;
	color: #555555;
}

.leftSendinput,
.rightSendinput {
	width: 320px;
	height: 285px;
	margin-left: 2px;
}

.leftSendinput div,
.rightSendinput div {
	border-radius: 4px;
	border: 1px solid #ededed;
}

.leftSendinput input,
.rightSendinput input {
	width: 275px;
	height: 38px;
	text-indent: 9px;
	font-size: 14px;
	line-height: 38px;
	/*border: 1px solid #ededed;*/
	border: 0 none;
}

.PayType {
	border-radius: 4px;
	width: 320px;
	height: 38px;
	border-radius: 4px;
	text-indent: 9px;
	font-size: 14px;
	line-height: 38px;
	*line-height: 38px;
	border: 1px solid #ededed;
}

.putUser {
	width: 1000px;
	margin: 0 auto;
	margin-top: 0px;
	height: 340px;
	background: #fff;
	margin-top: 22px;
}

.putUser .title {
	width: 40px;
	height: 340px;
	background: #25c2e3;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	*line-height: 20px;
	float: left;
}

.putUser .title p {
	background: #25c2e3;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}

.topput {
	height: 210px;
}

.leftput,
.rightput {
	display: inline-block;
	height: 209px;
	width: 407px;
	margin-left: 40px;
}

.cenput {
	margin-top: 25px;
	height: 40px;
}

.foontput {
	padding-top: 5px;
	margin-top: 8px;
	height: 50px;
}

.lefttext,
.leftinput,
.righttext,
.rightinput {
	display: inline-block;
	height: 208px;
	vertical-align: top;
}

.lefttext,
.righttext {
	width: 70px;
	text-align: right;
}

.lefttext div,
.righttext div {
	text-align: right;
	font-size: 15px;
}

.lefttext div,
.righttext div {
	text-align: right;
	font-size: 15px;
	color: #555555;
}

.leftinput,
.rightinput {
	width: 320px;
}

.leftinput input,
.rightinput input {
	width: 320px;
	height: 38px;
	border-radius: 4px;
	text-indent: 9px;
	font-size: 14px;
	line-height: 38px;
	border: 1px solid #ededed;
}

.putUser .cenput,
.putUser .cenput label,
.putUser .foontput,
.putUser .foontput label {
	font-size: 15px;
	color: #555555;
	line-height: 42px;
}

.putUser .cenput label {
	margin-left: 47px;
	margin-right: 5px;
}

.putUser .cenput span {
	font-size: 12px;
	color: #757575;
	margin-right: 18px;
}

.putUser .cenput input {
	width: 20px;
	height: 20px;
	border-radius: 25%;
	outline: none;
	vertical-align: middle;
	margin-right: 6px;
	line-height: 20px;
}

.putUser .cenput a {
	margin-top: 2px;
	width: 111px;
	height: 37px;
	border-radius: 4px;
	display: inline-block;
	line-height: 37px;
	text-align: center;
	background: #ee6900;
	color: #fff;
}

.putUser .foontput label {
	margin-left: 17px;
}

.putUser .foontput input {
	width: 320px;
	height: 38px;
	border-radius: 4px;
	text-indent: 9px;
	font-size: 14px;
	line-height: 38px;
	border: 1px solid #ededed;
}

.remark {
	width: 1000px;
	height: 206px;
	background: #fff;
	margin: 0 auto;
	margin-top: 22px;
}

.remark .title {
	width: 40px;
	height: 206px;
	color: #fff;
	font-size: 14px;
	background: #666465;
	text-align: center;
	float: left;
}

.remark .title p {
	color: #fff;
	font-size: 14px;
	background: #666465;
	text-align: center;
}

.remarkContent .time {
	font-size: 14px;
	color: #555;
	padding-top: 20px;
}

.remarkContent .time label {
	margin-left: 21px;
}

.time .date {
	width: 178px;
	height: 38px;
	border: 1px solid #ededed;
	border-radius: 4px;
	text-indent: 9px;
	color: #757575;
	font-size: 12px;
	line-height: 38px;
}

.remarkInput {
	font-size: 14px;
	color: #555;
	margin-top: 23px;
}

.remarkInput label {
	margin-left: 45px;
	vertical-align: top;
}

.remarkInput textarea {
	width: 795px;
	height: 87px;
	outline: none;
	resize: none;
	border-radius: 4px;
	border: 1px solid #ededed;
	padding-top: 12px;
	text-indent: 6px;
	color: #757575;
}

.protocol {
	text-align: center;
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
}

.protocol input {
	width: 18px;
	height: 18px;
	border: 1px solid #ededed;
	border-radius: 4px;
	vertical-align: text-top;
	line-height: 18px;
}

.protocol span {
	height: 25px;
	line-height: 25px;
	display: inline-block;
}

.submitBtn {
	text-align: center;
	margin-top: 14px;
	padding-bottom: 78px;
}

.submitBox *,
.submitBox {
	background-color: #f0f4f5;
}

.submitBtn input {
	width: 350px;
	height: 50px;
	border: none;
	outline: none;
	background: #ee6900;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	border-radius: 6px;
	cursor: pointer;
}

.foot_slide {
	height: 150px;
	background: #fff;
}

.foot_chi {
	width: 1000px;
	font-size: 20px;
	font-weight: 800;
	margin: 0 auto;
	text-align: center;
}

.kefu,
.code {
	display: inline-block;
	width: 100px;
	height: 150px;
	vertical-align: top;
}

.code {
	width: 330px;
}

.code img {
	margin-top: 20px;
}

.code span {
	margin: 0 20px;
}

.kefu a {
	-webkit-text-size-adjust: none;
	font-size: 20px;
	font-weight: 800;
}

.copyright {
	background-color: #f0f4f5;
	height: 35px;
}

.copy {
	width: 1000px;
	margin: 0 auto;
	background-color: #f0f4f5;
	text-align: center;
	line-height: 30px;
}

#userName {
	/*border-bottom: 1px solid #ededed;
				border-top: 1px solid #ededed;
				border-left: 1px solid #ededed;
				border-right: 1px solid white;
				width: 235px;*/
	border: 0px none;
}

.order_address_list {
	/*position: relative;
				right:45px;*/
}

.Addressee {
	width: 100%;
	height: 100%;
	background-color: white;
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0px;
	margin: auto;
	z-index: 1002;
	border: 0px solid rgba(0, 0, 0, .3);
	border-radius: 5px;
	box-shadow: none;
}

.layui-layer-title {
	/*padding: 0 80px 0 20px;*/
	/*width: 770px;*/
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #333;
	overflow: hidden;
	background-color: #F8F8F8;
	border-radius: 2px 2px 0 0;
}

.layui-table {
	width: 100%;
	margin: 10px 0;
	background-color: #fff;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.layui-table thead tr {
	background-color: #ee6900;
	color: #ffffff;
	cursor: pointer;
	-webkit-transition: all .3s;
}

.layui-table td,
.layui-table th {
	padding: 9px 15px;
	min-height: 20px;
	line-height: 20px;
	border: 1px solid #e2e2e2;
	font-size: 14px;
}

.layui-table td {
	cursor: pointer;
}

.layui-table th {
	padding: 9px 15px;
	min-height: 20px;
	line-height: 20px;
	border: 1px solid #e2e2e2;
	font-size: 14px;
	text-align: center;
}

.close {
	font-size: 17px;
	color: #333;
}
#fullbg { 
	background-color:gray; 
	left:0; 
	opacity:0.8; 
	position:absolute; 
	top:0; 
	z-index:3; 
	filter:alpha(opacity=80); 
	-moz-opacity:0.5; 
	-khtml-opacity:0.5; 
} 
.xzbtn{
	width: 80px;
	height: 30px;
	background-color: #ee6900;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	color: white;
}
.xzbtn:hover {
	cursor:pointer;
}