*{margin: 0 auto;padding: 0;vertical-align:middle;font-size: 12px;-webkit-text-size-adjust: none;}
			a{text-decoration: none;cursor: pointer;}
			.header{
					background-color: #f0f4f5;;
			}

			.header_logstate{
				height: 30px;
				width: 1000px;
				margin: 0 auto;
				text-align: right;
				line-height: 30px;
				color: #9b9b9b;
					background-color: #f0f4f5;;
			}
			.user_out{
				cursor: pointer;
					background-color: #f0f4f5;;
			}
			.Nav_Inside{
				background-color: white;
			}
			.NavBox{
				height: 90px;
				width: 1000px;
				background-color: white;
			}
			.Nav_logo{
				width: 184px;
				height: 70px;
				display: inline-block;			
				margin-top: 15px;
				background-color: white;
			}
			.Nav_li{
				width: 518px;
				height: 70px;
				display: inline-block;	
				margin-left: 20px;	
				background-color: white;
					
			}
			.Nav_li li,.Nav_li li a{
				float: left;
				list-style: none;
				line-height: 70px;
				font-size: 16px;
				color: #555555;
			}
			.Nav_li li a{
				margin:0 23px;
			}
			
#central{
	width: 100%;
	padding-bottom:50px;
	max-height:1640px;
	background-color: #f0f4f5;
	padding-top: 35px;
}
.central_one{
	 width: 1000px;
	 background-color: white; 
}
#central_two{
	width: 1000px;
	height: 50px;
   display: inline-block;
   margin-top: 20px;
}
.central_three{
	width: 950px;
	height: 90px;
	margin-left: 50px;
	border-bottom: 1px dashed #ededed;
}
.central_chBox{
	width: 801px;
	height: 52px;
	border: 1px solid #ededed;
	border-right: none;
	color: #555;
	text-indent: 1em;
	font-size: 14px;
	vertical-align: middle;
	border-radius: 6px 0 0 6px;
}
.central_chBen{
	width: 100px;
	height: 54px;
	background: #eb6a00;
	outline: none;
	border: none;
	vertical-align: middle;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	border-radius: 0 6px 6px 0;
}
#central_four{
	width: 1000px;
	height: 50px;
   display: inline-block;
   margin-top: 20px;
}
#central_five{
	width: 900px;
	height: 50px;
	font-size: 14px;
	color: #555;
	padding-bottom: 30px;
}
.five_one{
width: 195px;
height: 100%;
border-radius: 6px 0 0 0px;
background: #f5f5f5;
display: inline-block;
text-align: center;
line-height: 50px;
border-right: 1px solid #e5e5e5;	
}
.five_two{
width: 545px;
height: 100%;
background: #f5f5f5;
display: inline-block;
text-align: center;
line-height: 50px;
border-right: 1px solid #e5e5e5;
}
.five_three{
width: 158px;
height: 100%;
background: #f5f5f5;
display: inline-block;
text-align: center;
line-height: 50px;
border-radius: 0  6px  0px 0;
}
.central_six{
	width: 900px;
	display: none;
	border-left: 1px solid #F5F5F5 ;
	border-bottom: 3px solid #F5F5F5;
	border-right: 1px solid #F5F5F5;
	margin-top: -30px;
}
.central_mark{
	width: 196px;
	height: 95px;
	text-align: center;
	line-height: 93px;
	/* float: left; */
	display: inline-block;
}
.central_state{
	width: 533px;
	height: 95px;
	text-align: center;
	line-height: 93px;
	color: #ec6900;
	/* float: left; */
	display: inline-block;
}
.central_do{
	width: 158px;
height: 95px;
text-align: center;
/* float: left; */
display: inline-block;
line-height: 63px;
}
.central_do a{
width: 105px;
height: 30px;
border-radius: 4px;
background: #ee6900;
display: block;
line-height: 30px;
text-align: center;
margin-left: 33px;
margin-top: 11px;
color: #fff;
}
.titles{
	display: none;
}
.central_little{
	
	margin-left: 50px;
	color: #ec6900;;
	}

.foot_slide {
	height: 150px;
	background: #fff;
}

.foot_chi {
	width: 1000px;
	font-size: 20px;
	font-weight: 800;
	margin: 0 auto;
	text-align: center;
}

.kefu,
.code {
	display: inline-block;
	width: 100px;
	height: 150px;
	vertical-align: top;
}

.code {
	width: 330px;
}

.code img {
	margin-top: 20px;
}

.code span {
	margin: 0 20px;
}

.kefu a {
	-webkit-text-size-adjust: none;
	font-size: 20px;
	font-weight: 800;
}

.copyright {
	background-color: #f0f4f5;
	height: 35px;
}

.copy {
	width: 1000px;
	margin: 0 auto;
	background-color: #f0f4f5;
	text-align: center;
	line-height: 30px;
}